.App {
  border: 1px solid red;
  margin-left: 15%;
  margin-right: 15%;
  padding: 25px;

}
.header{
  text-align: center;
}
.head{
  font-weight: 1;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.15;
  font-family: Verdana;
  color: #eb143a;
}
.radios{
  display: flex;
}
.form-check{
  margin: 15px;
}
.form-control{
  border-radius:0rem !important;
  background: #f6f8fc !important;
  border-bottom: 2px solid gray !important;
  box-sizing: border-box;
}
.bttn{
  padding: 0px 12px !important;
  width: 100%;
  padding: 6px 12px !important;
  border-radius: 0rem !important;
  margin-top: 25px;
}
.datepicker{
  display: flex;
}
.dep{
  margin-right:2px ;
}
.retn{
  margin-left: 2px;
}
.from{
}
.inptGrp{
  display: flex;
}
.to{
  margin-left: 12px;
}
.event{
  width: 104%;
}
.radioGrp{
  display: flex;
}
.radio{
  margin: 20px;
}